@import "../../styles/main.scss";

.ProductList {
  padding: 0 10px;
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  flex-wrap: nowrap; /* Prevent items from wrapping to the next row */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  overflow-y: hidden; /* Hide vertical scrollbar */
  max-height: 100vh; /* Set a maximum height to enable vertical scrolling */

  &::-webkit-scrollbar {
    width: 12px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark-blue; 
    border-radius: 6px; 
    border: 3px solid #fff; 

    &:active {
      background-color: $color-light-blue;
      transform: scale(1.4);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 6px; 
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent; 
  }


  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}