@import "../../styles/main.scss";

.ProductCard {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  /* Optional: Adjust the width, padding, and margin based on your design */
  width: 300px;
  padding: 16px;
  margin: 16px;

  &__photo {
    margin-bottom: 12px; 
  }

  &__photo-item {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
  }

  &__title {
    text-align: center;
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 8px; 
  }

  &__button {
    margin-bottom: 8px; 
  }

  &__button a {
    display: block;
    padding: 8px 16px; 
    text-decoration: none;
    background-color: $color-dark-blue; 
    color: #fff;
    border-radius: 50px; 
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }

  &__button a:hover {
    background-color: #0056b3; 
  }
}
