@import "../../styles/main.scss";

.NotFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: transparent;
  height: 100vh; /* Adjust based on your design */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.NotFoundPage img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; /* Add a smooth transition effect */

  /* Optional: Add max-width and max-height to ensure the image doesn't exceed its original dimensions */
  max-width: 100%;
  max-height: 100%;
}

/* Optional: You can add a media query to adjust the transition speed on smaller screens */
@media screen and (max-width: 600px) {
  .NotFoundPage img {
    transition: transform 0.3s ease; /* Adjust the transition speed for smaller screens */
  }
}