@import "../../styles/main.scss";

.NotFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('../../assets/images/404Page.jpg');
  background-size: cover; /* Adjust as needed to cover the container */
  background-position: center; /* Adjust as needed to position the image */

}
