@import "../../styles/main.scss";

.Header {
  display: block;
  height: 70px;
  background-color: $color-white;
  border-bottom: 1px solid $color-dark-blue;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 1000;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 15px;

  &__icons {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__text {
    color: $color-dark-blue;
    font-size: 16px;
    font-weight: bold;
  }

  &__logo {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__button {
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    &.selected {
      background-color: $color-blue;
    }
  }

  .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--menu {
      background-image: url(../../assets/icons/align-left.png);
      display: block;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
