@import '../../styles/main.scss';


.Footer {
  bottom: 0;
  background-image: radial-gradient(circle at top left, #00437a 0, #001e50 100%);
  color: $color-white;
  padding: 50px 30px;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__section {
    margin-bottom: 20px;

    &--navlist {
      nav {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          .Footer__navlist-item {
            margin-bottom: 10px;
          }

          .Footer__link {
            text-decoration: none;
            color: $color-white;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: lighten($color-blue, 20%);
            }
          }

          .Footer__title {
            font-size: 1.2em;
            font-weight: bold;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}