@import '../../styles/main.scss';


$footer-bg-color: #001e50;
$footer-text-color: #ffffff;

.Footer {
  // background-image: -webkit-radial-gradient(top left,circle,#00437a 0,#001e50 100%);
  bottom: 0;
  background-image: radial-gradient(circle at top left,#00437a 0,#001e50 100%);
  color: $color-white;
  padding: 50px 30px;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__section {
    margin-bottom: 20px;

    &--navlist {
      nav {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          .Footer__navlist-item {
            margin-bottom: 10px;
          }

          .Footer__link {
            text-decoration: none;
            color: $footer-text-color;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: lighten($footer-text-color, 20%);
            }
          }

          .Footer__title {
            font-size: 1.2em;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 20px;

    .Footer__copyright-paragraph {
      margin: 0;
      font-size: 0.9em;
    }

    .Footer__link {
      text-decoration: none;
      color: lighten($footer-text-color, 40%);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: lighten($footer-text-color, 60%);
      }
    }
  }

  // &__scroll-up {
  //   background: url('path/to/your/scroll-up-icon.png') no-repeat center center;
  //   display: block;
  //   width: 30px;
  //   height: 30px;
  //   text-indent: -9999px;
  //   position: fixed;
  //   bottom: 20px;
  //   right: 20px;
  //   cursor: pointer;
  // }
}
